<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AE_Dev_J.Properties.Settings.tempConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\2014-2017\GitHub\temp.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>